<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- proxy -->
    <add key="proxy" value="false"/>
    <add key="proxyUser" value=""/>
    <add key="proxyPassword" value=""/>
    <add key="proxyHost" value=""/>

    <!-- request config -->
    <add key="timeout" value="1000"/>
    <add key="method" value="HEAD"/>
    <add key="userAgent" value="Mozilla/5.0"/>

    <!-- burl config -->
    <add key="waitDelay" value="50"/>
    <add key="searchIntensity" value="2"/>
    <add key="outputVerbose" value="2"/>

    <add key="listExtensions">
      <extensions>/,.inc,.conf,.txt,.bak,.old</extensions>
      <extensions>.php.bak,.php.old,.php.txt,.php.inc</extensions>
      <extensions>.php.bak,.php.old,.php.txt,.php.inc</extensions>
      <extensions>.htm,.js,.pl,.py,.do</extensions>
    </add>
                            
                            
  </appSettings>
</configuration>